html {
    background-color: #bdd9ed;
}

* {
    margin: 0;
}

.headerCont {
    background-color: #262626;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
}

img{
    width: 60px;
}

.imgCont {
    margin: 15px;
    text-align: center;
    background-color: #262626;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.divCont {
    width: 200px;
    height: 25px;
    padding: 10px;
    border: inset 5px;
    background-color: #099bae;
    text-align: center;
    margin: 20px;
}

.divPrueba {
    padding: 13%;
}

a {
    text-decoration: none;
}