:root {
  --color-fondo-claro: #ece1d8;
}
* {
  padding: 0%;
  margin: 0%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #845f5f;
}

main {
  width: auto;
  height: auto;
}

.nav-superior {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 2px;
  min-width: 100vw;
}

.divIcono {
  display: flex;
  justify-content: right;
  align-items: center;
}

.imgIcono {
  border-radius: 100%;
}

.llamado {
  cursor: pointer;
  padding: 5px;
}

.llamado:hover {
  animation: moverSuave 800ms linear infinite alternate;
}

@keyframes moverSuave {
  0%,
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateX(5px);
  }
}

.desc {
  font-size: small;
}

.boton {
  background-color: #2d2c2c;
  box-shadow: 0px 0px 10px #dbd5d5;
  border: 3px solid rgb(104, 76, 7);
  border-radius: 10%;
  cursor: pointer;
  width: 100px;
  height: 50px;
  font-size: medium;
}

.contenedor-avisos {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-fondo-claro);
  text-align: center;
  min-width: 100vw;
}

.descripcion-aviso {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.img-aviso {
}

.desc-entrando,
.list-entrando {
  animation: entradaDesc 1s ease-out forwards;
}

.desc-saliendo {
  animation: salidaDesc 1s forwards;
}

.img-entrando {
  animation: entradaAviso 1s ease-out forwards;
}

.img-saliendo,
.list-saliendo {
  animation: salidaAviso 1s forwards;
}

@keyframes entradaDesc {
  from {
    transform: translateX(-150%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes salidaDesc {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(-150%);
    opacity: 0;
  }
}

@keyframes entradaAviso {
  from {
    transform: translateX(150%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes salidaAviso {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(150%);
    opacity: 0;
  }
}
.botones-desp {
  display: flex;
  justify-content: space-evenly;
  bottom: 100%;
}

.contenedor-categorias {
  box-shadow: 0px 5px 10px #4e4040;
  padding: 2%;
  display: flex;
  justify-content: space-evenly;
  border-top: solid rgb(104, 76, 7);
  border-bottom: solid rgb(104, 76, 7);
  margin-bottom: 5%;
  flex-wrap: wrap;
}

.categoria {
  text-align: center;
  font-size: 15px;
  background-color: #e2dcdc;
  border-radius: 1rem;
  padding: 1%;
}

.categoria:hover,
.boton:hover {
  background-color: #cdc8c8;
}

.categoria:after,
.boton:after {
  background-color: #5c5353;
}

.categoria:active,
.boton:active {
  background-color: #cdc8c8;
  animation-duration: 10ms;
}

.titulo-cat {
  cursor: pointer;
}

.list-prod {
  margin: 0% 10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2%;
}

.item {
  display: flex;
  cursor: pointer;
  border: 2px solid rgb(192, 192, 192);
  border-radius: 10px;
  justify-content: space-between;
  width: 100%;
  height: 190px;
  margin-bottom: 5%;
}

.item:hover {
  box-shadow: 0px 0px 10px #000000;
  border-radius: 10px;
}
.item:active {
  box-shadow: inset 0px 0px 10px #000000;
}

h2 {
  padding: 2%;
}

.info-imp {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0% 5% 0% 0%;
  text-align: center;
  align-items: center;
  overflow: hidden;
}

.precio {
  background-color: rgb(104, 76, 7);
  width: 50%;
  box-shadow: 0px 0px 10px rgb(104, 76, 7);
  border-radius: 0.325rem;
  font-weight: bolder;
  font-size: large;
  color: rgb(255, 255, 255);
}

span {
  color: rgb(255, 255, 255);
}

img {
  border-radius: 10px;
  justify-self: center;
  object-fit: fill;
}

.nav-inferior {
  display: flex;
  justify-content: space-between;
  position: fixed;
  text-align: center;
  align-items: center;
  bottom: 0%;
  background-color: rgb(2, 2, 2);

  width: 100%;
}

#cant {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: red;
  border-radius: 50%;
}

/* ------------------------ HTML PANEL ------------------------------------  */

.headerCont {
  background-color: #262626;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
}

.contenedor {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.divCont {
  width: 200px;
  height: 25px;
  padding: 10px;
  border: inset 5px;
  background-color: #099bae;
  text-align: center;
  margin: 20px;
}

.divPrueba {
  padding: 13%;
}

a {
  text-decoration: none;
}
